openapi: 3.0.0
info:
  description: Makipos IOT API
  version: 1.0.0
  title: Makipos IOT
  contact:
    name: Tran Quoc Phuong
    email: phuongtq@makipos.com
servers:
  - url: http://server.makipos.net:3028
    description: Makipos IOT test server
security:
  - jsonwebtoken:
    - write:/users
    - read:/users
tags:
  - name: Users
    description: Everything about user
  - name: Devices
    description: Everything about device
components:
  securitySchemes:
    jsonwebtoken:
      type: apiKey
      name: Authorization
      in: header
      scheme: Bearer
paths:
  /users/authentication:
    post:
      description: Lấy access token cho user
      tags:
        - Users
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: query
          name: _v
          required: true
          allowEmptyValue: false
          schema:
            type: number
            enum:
              - 1
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                strategy:
                  type: string
                  required: true
                  enum:
                    - local
                    - facebook-token
                    - google-token
                    - apple-idtoken
                access_token:
                  description: accesstoken của bên thứ 3
                  type: string
                username:
                  description: Tên đăng nhập của người dùng
                  type: string
                password:
                  description: Mật khẩu tài khoản
                  type: string
            examples:
              local:
                value: {"strategy":"local","username":"test","password":"12345678"}
              google-token:
                value: {"strategy":"google-token","access_token":"google access token"}
      responses:
        default:
          content:
            'application/json':
              schema:
                type: object
                properties:
                  accessToken:
                    description: jwt sử dụng trong header cho các API khác
                    type: string
                    example : jwt sử dụng trong header cho các API khác
